.header-top-line {
    height: 15px;
    background-color: #213954;
    border-bottom: 5px solid #caac65;
    border-bottom-width: 4px;
    border-bottom-style: solid;

}



.adress-header {
    font-size: 0.6rem;
    display: inline;
    margin-right: 20px;

}

.tel-header {
    font-size: 0.6rem;
    display: inline;
    margin-right: 50px;

}


.header-login {
    padding: 5px 10px;
    background-color: #213954;
    margin-top: -5px;
}



.logo {
    width: 200px;
    padding: 10px 0px 0px 0px;
}

.navigation-bar {
    font-size: 0.7rem;
    padding: 35px 0px;
    color: #161415;

}

.carousel-inner {
    border-top: 1px solid;
}

.navigation-bar a,
.navigation-bar a:hover {
    color: #161415;
}


.carousel .carousel-indicators li {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin: 3px;

}


.tree {
    width: 100%;
    height: 327px;
    background: url(/img/oak-tree.png) no-repeat 50%, url(/img/weave-texture.png);
    border-bottom: 5px solid #caac65;


}

.welcome {
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-top: 90px;
    margin-bottom: 20px;
    font-family: 'Cormorant Garamond', serif;

}

.description {
    color: white;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    width: 40em;
    text-align: center;
}



.tree-sign {
    width: 335px;
    background-color: #caac65;
    color: #213954;
    margin:  0px auto 50px ;
    padding: 5px 10px;
    


}

.col-4 {
    background: url(/img/rectangle.png) no-repeat center center;
    background-size: 95% 95%;
    margin-bottom: 50px;
    
}




.icon-1,
.icon-2,
.icon-3 {
    width: 115px;
    height: 115px;
    text-align: center;
    font-size: 4rem;
    border: 2px solid;
    border-radius: 100px;
    margin: 50px 0px 20px 90px;
    color: #203950;
    
    
    
}

.financial,
.risk,
.retirement {
    text-align: center;
    font-size: 1rem;
    font-family: 'Fjalla One', sans-serif;
    

}

.offer-description {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 10px;
    margin-bottom: 50px;

}



.footer {
    background: url(/img/weave-texture.png);
    color: white;
    padding-top: 50px;
    border-bottom: 5px solid #caac65;
}



.footer-description {
    font-size: 0.7rem;
    
    
}

.footer-link, .contact-info {
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    
    
    
}

.item-link {
    font-size: 0.7rem;
    text-align: left;
    padding: 10px 0px 10px 0px;
    color: white;
    
}

.copyright, .copyright-link {
    text-align: center;
    font-size: 0.7rem;
    padding: 5px 0px 5px 0px;
    color: black;
    margin-bottom: 50px;
    
}



 











